listen:
  port: 5000
user: nobody
hosts:
  "myhost.example.com":
    paths:
      /:
        file.dir: /mnt/c/Users/LENOVO/Documents/SUTD/Term6/STV/h2o/doc
access-log: /mnt/c/Users/LENOVO/Documents/SUTD/Term6/STV/h2o/build/log.txt
error-log: /mnt/c/Users/LENOVO/Documents/SUTD/Term6/STV/h2o/build/log.txt
pid-file: /mnt/c/Users/LENOVO/Documents/SUTD/Term6/STV/h2o/build/number.pid